ADMINS=
API_ID=
API_HASH=
BOT_TOKEN=
SESSION_STRING=
CHAT=
LOG_GROUP=
STARTUP_STREAM=/
DATABASE_URI=
DATABASE_NAME=Hubel
SHUFFLE=True
ADMIN_ONLY=True
REPLY_MESSAGE=دسترسی به تمام بخش های کمپانی از طریق ربات پرتال: @ElenLiLBoT
EDIT_TITLE=False
TIME_ZONE=Asia/Tehran
QUALITY=60
FILTERS=video
IS_LOOP=True
